@model dulceSabor_caja_ListadodeMesas.Models.mesas

@{
    ViewData["Title"] = "ListaCuentas";
}

<h1>Lista de cuentas</h1>

<div>
    <h4>@Html.DisplayFor(model => model.nombre_mesa)</h4>
    <hr />

    @foreach (var cuenta in (IEnumerable<dynamic>)ViewData["lista_cuentas"])
    {
        int cuenta_id = @cuenta.id_cuenta;
        <table class="table table-striped-columns">
            <thead>
                <tr>
                    <th>
                        Id de cuenta
                    </th>
                    <th>
                        Nombre del cliente
                    </th>
                    <th>
                        Cantidad de Personas
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Fecha y Hora
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @cuenta.id_cuenta
                    </td>
                    <td>
                        @cuenta.nombre_cliente
                    </td>
                    <td>
                        @cuenta.cantidad_personas
                    </td>
                    <td>
                        @cuenta.estado_Cuenta
                    </td>
                    <td>
                        @cuenta.hora_Fecha
                    </td>
                    <td>
                        <a asp-action="GenerarFactura" asp-route-id="@cuenta.id_cuenta"><button type="button" class="btn btn-success">Facturar</button></a>
                    </td>
                </tr>
            </tbody>
        </table>

        @foreach (var detalle_cuenta in (IEnumerable<dynamic>)ViewData["lista_detPedidos"])
        {
            if (@detalle_cuenta.id_cuenta == @cuenta.id_cuenta)
            {
                <dl class="row">
                    <dt class="col-sm-2">
                        Id del pedido
                    </dt>
                    <dd class="col-sm-10">
                        @detalle_cuenta.id_detP
                    </dd>
                    <dt class="col-sm-2">
                        Id de la cuenta
                    </dt>
                    <dd class="col-sm-10">
                        @detalle_cuenta.id_cuenta
                    </dd>
                    <dt class="col-sm-2">
                        Nombre del plato
                    </dt>
                    <dd class="col-sm-10">
                        @detalle_cuenta.nombre_plato
                    </dd>
                    <dt class="col-sm-2">
                        Cantidad
                    </dt>
                    <dd class="col-sm-10">
                        @detalle_cuenta.cantidad
                    </dd>
                    <dt class="col-sm-2">
                        Estado del pedido
                    </dt>
                    <dd class="col-sm-10">
                        @detalle_cuenta.estado_detPedido
                    </dd>
                    <dt class="col-sm-2">
                        Precio
                    </dt>
                    <dd class="col-sm-10">
                        @detalle_cuenta.precio
                    </dd>
                </dl>
            }
        }

        <hr />
    }
</div>